<p id="notice"><%= notice %></p>

<h1 class="display-3 main-heading">
  <%= @list.title %>
</h1>

<div class="actions">
  <%= link_to 'View Tasks', list_tasks_path(@list) %> |

  <%= link_to 'Edit Title', edit_list_path(@list) %> |
  <%= link_to 'Go Back', lists_path %>
</div>
